.home-page {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "side-bar calendario";
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.home-page__cabecalho {
    grid-area: header;
}

.home-page__side-bar {
    grid-area: side-bar;
    width: 100%;
}

.home-page__calendario{
    margin-top: 50px;
    grid-area: "calendario";
    width: 100%;
}

.home-page__agendamentos{
    margin-top: 50px;
    grid-area: "agendamento";
}