.home-page {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "side-bar calendario";
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.home-page__cabecalho {
    grid-area: header;
}

.home-page__side-bar {
    grid-area: side-bar;
    width: 100%;
}

.home-page__calendario{
    margin-top: 50px;
    grid-area: "calendario";
    width: 100%;
}

.home-page__agendamentos{
    margin-top: 50px;
    grid-area: "agendamento";
}

.aberto {
    display: block;
}

.fechado {
    display: none;
}

@media (max-width:770px) {
    .home-page {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    .home-page__cabecalho {
        display: flex;
        width: 100%;
    }
    .home-page__calendario {
        width: 100%;
        margin-left: 20px;
    }

    .home-page__side-bar {
        height: 100vh;
        position: fixed;
        width: 200px;
        z-index: 1000;
    }
}

@media (max-width:640px) {
    .home-page__calendario {
        max-width: 100%;
        width: 100%;
        margin-left: 0px;
    }
}

@media (max-width:550px) {
    .home-page__calendario{
        width: 80%;
        margin-left: 20px;
    }
}

@media (max-width:475px) {
    .home-page {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
    }
    .home-page__calendario {
        width: 100%;
        margin-top: 40px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
    }
}