.dashboard-layout {
    display: grid;
    grid-template-areas:
        "header header header"
        "side-bar main main";
    grid-template-columns: 0.8fr 4.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    overflow: hidden;
}

.dashboard-layout__header {
    grid-area: header;
}

.dashboard-layout__sidebar {
    grid-area: side-bar;
    width: 135%;
}

.dashboard-layout__main {
    grid-area: main;
    margin-top: 50px;
    padding: 20px;
    overflow-y: auto;
}