.input {
    border-radius: 10px;
    height: 34px;
    width: 334px;
    padding-left: 20px;
    margin-bottom: 15px ;
    border:1px solid #7B8090 ;
    background-color: #424D6F ;
}

.input::placeholder {
    font-family: "Poppins";
    font-size: 14px;
    color: #BCBCBC;
    font-style: italic;
}